<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% include "style/navigation_style.html.twig" %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{% if order_element is defined %}
    {% include "navigation/navigation.html.twig" with [{'order_element': order_element}] %}
{% else %}
    {% include "navigation/navigation.html.twig" %}
{% endif %}
{% include "messages/fosUSerMessage.html.twig" %}


<div class="container">
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
l


<div class="container">
    {% block body %}
    {% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
